@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.firstH {
    background-color: rosybrown;
    /* height: 100px;
    width: 600px; */
    min-width: 100px;
    max-width: 500px;
    margin: auto;
    border-style: solid;
    border-width: 1px;

    outline-style: dotted;
    outline-color: saddlebrown;
    outline-width: medium;
    outline-offset: 5px;
    
}

#firstP {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 3px -3px 2px rgb(156, 156, 156);
    /* text-shadow: 0px 0px 3px blue; neon glow */
}

.second {
    background-color: rgba(255, 251, 0, 0.37);
    color: brown;
    font-variant: small-caps;
}

p.second {
    color: cadetblue;
    font-size: 20px;
    opacity: 0.3;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* font-size: 100px; */
}

h2, h3 {
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 50px;

    border-style: solid;
    border-width: 5px 10px;
    border-color: blue blue yellow yellow;
    border-radius: 10px;
}

h3 {
    background-color: rgba(255, 230, 0, 0.336);
    border-width: 5px;
    border-color: rgb(255, 238, 0);

    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-left-style: solid;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 290px;
    /* width: 150px; */
}

p.pTest1 {
    text-align-last: justify;
    text-indent: 30px;
    line-height: 1.5;
    word-spacing: -5px;
    /* white-space: nowrap; */
}

p.pTest2 {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-decoration: line-through;
    text-transform: capitalize;
    letter-spacing: 9px;
}

.linkOne {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    border-radius: 8px;
    /* position: fixed; */
    /* display: inline-block; */
}

.linkOne:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 120%;
}

#iconYoutube {
    color: red;
    font-size: 18px;
}

.firstList {
    list-style-type: square;
    list-style-image: url('css.ico');
    list-style-position: inside;
    background-color: tomato;
    padding: 10px;
}

.firstList li {
    background-color: thistle;
}
.table1 th, td{
    border-style: solid;
    border-width: thin;
    border-color: tomato;
    border-collapse: collapse;
    width: 500px;
    height: 50px;
    background-color: wheat;
    vertical-align: bottom;
    /* text-align: center; */
    
}

.table1 {
    background-color: turquoise;
    overflow-x: auto;  /* TO MAKE THE TABLE RESPONSIVE */
}

.table1 td {
    background-color: white;
}

.table1 th, td {
    padding: 10px;
}

.table1 th:hover, td:hover {
    background-color: yellow;
}

.div1 {
    background-color: wheat;
    width: 200px;
    height: 60px;
    overflow: auto;
}

.orange {
    float: right;
    width: 100px;
    height: 100px;
}

/* descendant selector */
.combinator p{
    background-color: aqua;
}

/* child selector */
.combinator > p {
    color: brown;
}

/* adjacent sibling selector */
.combinator + p {
    background-color: brown;
}

/* general sibling selector */
.combinator ~ p {
    font-style: italic;
}

.pseudoP::first-line {
    color: brown;
}

.pseudoP::first-letter {
    font-size: 40px;
}

.pseudoBefore::before {
    content: url(css.ico);
}

.pseudoAfter::after {
    content: url(css.ico);
}
::marker {
    color: azure;
    font-size: 30px;
}

::selection {
    background-color: cornsilk;
}

.borderTest1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 15px 50px 30px 5px;
}

.borderTest2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 15px 50px 30px;
}

.borderTest3 {
    border-radius: 15px / 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.borderTest4 {
    border: 10px solid black;
    border-image: url(text-image.jpg) 50 round;
}

.bgTest1 {
    color: azure;
    width: 150px;
    height: 500px;
    border: none;
    background-image: url(text-image.jpg), url(bg-test.jpeg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
}
/* <a href="https://www.vecteezy.com/free-vector/black">Black Vectors by Vecteezy</a> */
.bgTest2 {
    color: azure;
    width: 150px;
    height: 300px;
    border: none;
    background-image: url(bg-test.jpeg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}