body {
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: rgb(255, 0, 0);
}

#firstP {
    color: blue;
    font-size: 25px;
}

.second {
    background-color: rgba(255, 251, 0, 0.37);
    color: brown;
}

p.second {
    color: cadetblue;
    font-size: 20px;
    opacity: 0.3;
}

* {
    border-style: ridge;
    border-color: chocolate;
}

h2, h3 {
    text-align: center;
}